@use '../index' as op;
@use "sass:color";

$shdw-color: get-shadow('light', 'shadow-color');

html {
  background: $shdw-color;
}

.card {
  position: relative;
  width: 450px;
  height: 100%;
  min-height: 200px;
  padding: 20px;
  margin: 50px auto;
  background-color: hsl(op.$stone-1-hsl);
  border-radius: op.$radius-1;
  border: 0;
  box-shadow: var(--shadow-2);

  &:hover {
    box-shadow: var(--shadow-3);
  }
}
