@use '../index' as op with ($theme: dark);

$shdw-color: op.get-theme('light', 'shadow-color');
$shdw-str: op.get-theme('light', 'shadow-strength');

html {
 background: op.mix-hsl($shdw-color $shdw-str);
}

:root {
  --shadow-color: op.get-theme('light', 'shadow-color');
  --shadow-strength: op.get-theme('light', 'shadow-strength');
  // ...
}

@media (prefers-color-scheme: dark) {
 :root {
    --shadow-color: op.get-theme('dark', 'shadow-color');
    --shadow-strength: op.get-theme('dark', 'shadow-strength');
    // ...
  }
}

.card {
  position: relative;
  width: 450px;
  height: 100%;
  min-height: 200px;
  padding: 20px;
  margin: 50px auto;
  background-color: hsl(op.$stone-1-hsl);
  border-radius: op.$radius-1;
  border: 0;
  box-shadow: var(--shadow-2);

  &:hover {
    box-shadow: var(--shadow-3);
  }
}
