@use '../index' as op;
@use "sass:color";

//$output: generate-output('root', 'dark');

:root {
  --page-bg: #{op.$gray-2};
  --page-text: #{op.$gray-9};
  --shadow-2: #{op.$shadow-2};
  --shadow-3: #{op.$shadow-3};
  $test-shadow-strength: op.get-shadow('light', 'shadow-strength');
  $testing: hsl(op.$stone-1-hsl / get-map(op.$op-shadows, 'light', 'shadow-strength'));

  @media #{op.$OSdark} {
    --page-bg: #{op.$gray-9};
    --page-text: #{op.$gray-1};
  }

  background-color: var(--page-bg);
  color: var(--page-text);
}

.card {
  position: relative;
  width: 450px;
  height: 100%;
  min-height: 200px;
  padding: 20px;
  margin: 50px auto;
  background-color: hsl(op.$stone-1-hsl);
  border-radius: op.$radius-1;
  border: 0;
  box-shadow: var(--shadow-2);

  &:hover {
    box-shadow: var(--shadow-3);
  }
}
