@use 'easings' as _e;
@use 'media' as _mq;
@use 'sass:string';
$id: string.unique-id();

@mixin fade-in {
  $name: op-#{$id}-fade-in;
  @keyframes #{$name} {
    to {
      opacity: 1;
    }
  }
  animation: #{$name} 0.5s _e.$ease-3;
}
@mixin fade-in-bloom {
  $name: op-#{$id}-fade-in-bloom;
  @keyframes #{$name} {
    0% {
      opacity: 0;
      filter: brightness(1) blur(20px);
    }
    10% {
      opacity: 1;
      filter: brightness(2) blur(10px);
    }
    100% {
      opacity: 1;
      filter: brightness(1) blur(0);
    }
  }
  animation: #{$name} 2s _e.$ease-3;
}
@mixin fade-out {
  $name: op-#{$id}-fade-out;
  @keyframes #{$name} {
    to {
      opacity: 0;
    }
  }
  animation: #{$name} 0.5s _e.$ease-3;
}
@mixin fade-out-bloom {
  $name: op-#{$id}-fade-out-bloom;
  @keyframes #{$name} {
    100% {
      opacity: 0;
      filter: brightness(1) blur(20px);
    }
    10% {
      opacity: 1;
      filter: brightness(2) blur(10px);
    }
    0% {
      opacity: 1;
      filter: brightness(1) blur(0);
    }
  }
  animation: #{$name} 2s _e.$ease-3;
}
@mixin scale-up {
  $name: op-#{$id}-scale-up;
  @keyframes #{$name} {
    to {
      transform: scale(1.25);
    }
  }
  animation: #{$name} 0.5s _e.$ease-3;
}
@mixin scale-down {
  $name: op-#{$id}-scale-down;
  @keyframes #{$name} {
    to {
      transform: scale(0.75);
    }
  }
  animation: #{$name} 0.5s _e.$ease-3;
}
@mixin slide-out-up {
  $name: op-#{$id}-slide-out-up;
  @keyframes #{$name} {
    to {
      transform: translateY(-100%);
    }
  }
  animation: #{$name} 0.5s _e.$ease-3;
}
@mixin slide-out-down {
  $name: op-#{$id}-slide-out-down;
  @keyframes #{$name} {
    to {
      transform: translateY(100%);
    }
  }
  animation: #{$name} 0.5s _e.$ease-3;
}
@mixin slide-out-right {
  $name: op-#{$id}-slide-out-right;
  @keyframes #{$name} {
    to {
      transform: translateX(100%);
    }
  }
  animation: #{$name} 0.5s _e.$ease-3;
}
@mixin slide-out-left {
  $name: op-#{$id}-slide-out-left;
  @keyframes #{$name} {
    to {
      transform: translateX(-100%);
    }
  }
  animation: #{$name} 0.5s _e.$ease-3;
}
@mixin slide-in-up {
  $name: op-#{$id}-slide-in-up;
  @keyframes #{$name} {
    from {
      transform: translateY(100%);
    }
  }
  animation: #{$name} 0.5s _e.$ease-3;
}
@mixin slide-in-down {
  $name: op-#{$id}-slide-in-down;
  @keyframes #{$name} {
    from {
      transform: translateY(-100%);
    }
  }
  animation: #{$name} 0.5s _e.$ease-3;
}
@mixin slide-in-right {
  $name: op-#{$id}-slide-in-right;
  @keyframes #{$name} {
    from {
      transform: translateX(-100%);
    }
  }
  animation: #{$name} 0.5s _e.$ease-3;
}
@mixin slide-in-left {
  $name: op-#{$id}-slide-in-left;
  @keyframes #{$name} {
    from {
      transform: translateX(100%);
    }
  }
  animation: #{$name} 0.5s _e.$ease-3;
}
@mixin shake-x {
  $name: op-#{$id}-shake-x;
  @keyframes #{$name} {
    0%,
    100% {
      transform: translateX(0%);
    }
    20% {
      transform: translateX(-5%);
    }
    40% {
      transform: translateX(5%);
    }
    60% {
      transform: translateX(-5%);
    }
    80% {
      transform: translateX(5%);
    }
  }
  animation: #{$name} 0.75s _e.$ease-out-5;
}
@mixin shake-y {
  $name: op-#{$id}-shake-y;
  @keyframes #{$name} {
    0%,
    100% {
      transform: translateY(0%);
    }
    20% {
      transform: translateY(-5%);
    }
    40% {
      transform: translateY(5%);
    }
    60% {
      transform: translateY(-5%);
    }
    80% {
      transform: translateY(5%);
    }
  }
  animation: #{$name} 0.75s _e.$ease-out-5;
}
@mixin spin {
  $name: op-#{$id}-spin;
  @keyframes #{$name} {
    to {
      transform: rotate(1turn);
    }
  }
  animation: #{$name} 2s linear;
}
@mixin ping {
  $name: op-#{$id}-ping;
  @keyframes #{$name} {
    90%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  animation: #{$name} 5s _e.$ease-out-3;
}
@mixin blink {
  $name: op-#{$id}-blink;
  @keyframes #{$name} {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  animation: #{$name} 1s _e.$ease-out-3;
}
@mixin float {
  $name: op-#{$id}-float;
  @keyframes #{$name} {
    50% {
      transform: translateY(-25%);
    }
  }
  animation: #{$name} 3s _e.$ease-in-out-3;
}
@mixin bounce {
  $name: op-#{$id}-bounce;
  @keyframes #{$name} {
    25% {
      transform: translateY(-20%);
    }
    40% {
      transform: translateY(-3%);
    }
    0%,
    60%,
    100% {
      transform: translateY(0);
    }
  }
  animation: #{$name} 2s _e.$ease-squish-2;
}
@mixin pulse {
  $name: op-#{$id}-pulse;
  @keyframes #{$name} {
    50% {
      transform: scale(0.9, 0.9);
    }
  }
  animation: #{$name} 2s _e.$ease-out-3;
}
