$color-hue: 1 !default;
$color-0: Oklch(99% .03 #{$color-hue, 0});
$color-hue: 1 !default;
$color-1: Oklch(95% .06 #{$color-hue, 0});
$color-hue: 1 !default;
$color-2: Oklch(88% .12 #{$color-hue, 0});
$color-hue: 1 !default;
$color-3: Oklch(80% .14 #{$color-hue, 0});
$color-hue: 1 !default;
$color-4: Oklch(74% .16 #{$color-hue, 0});
$color-hue: 1 !default;
$color-5: Oklch(68% .19 #{$color-hue, 0});
$color-hue: 1 !default;
$color-6: Oklch(63% .20 #{$color-hue, 0});
$color-hue: 1 !default;
$color-7: Oklch(58% .21 #{$color-hue, 0});
$color-hue: 1 !default;
$color-8: Oklch(53% .20 #{$color-hue, 0});
$color-hue: 1 !default;
$color-9: Oklch(49% .19 #{$color-hue, 0});
$color-hue: 1 !default;
$color-10: Oklch(42% .17 #{$color-hue, 0});
$color-hue: 1 !default;
$color-11: Oklch(35% .15 #{$color-hue, 0});
$color-hue: 1 !default;
$color-12: Oklch(27% .12 #{$color-hue, 0});
$color-hue: 1 !default;
$color-13: Oklch(20% .09 #{$color-hue, 0});
$color-hue: 1 !default;
$color-14: Oklch(14% .07 #{$color-hue, 0});
$color-hue: 1 !default;
$color-15: Oklch(11% .05 #{$color-hue, 0});
$color-hue: 1 !default;
$color-bright: Oklch(65% .3 #{$color-hue, 0});
