$color-hue: null;
$color-0: oklch(99% 0.03 #{$color-hue});
$color-1: oklch(95% 0.06 #{$color-hue});
$color-2: oklch(88% 0.12 #{$color-hue});
$color-3: oklch(80% 0.14 #{$color-hue});
$color-4: oklch(74% 0.16 #{$color-hue});
$color-5: oklch(68% 0.19 #{$color-hue});
$color-6: oklch(63% 0.2 #{$color-hue});
$color-7: oklch(58% 0.21 #{$color-hue});
$color-8: oklch(53% 0.2 #{$color-hue});
$color-9: oklch(49% 0.19 #{$color-hue});
$color-10: oklch(42% 0.17 #{$color-hue});
$color-11: oklch(35% 0.15 #{$color-hue});
$color-12: oklch(27% 0.12 #{$color-hue});
$color-13: oklch(20% 0.09 #{$color-hue});
$color-14: oklch(14% 0.07 #{$color-hue});
$color-15: oklch(11% 0.05 #{$color-hue});
$color-bright: oklch(65% 0.3 #{$color-hue});
