$gray-hue: 1 !default;
$gray-chroma: 0 !default;
$hd-gray-0: oklch(99% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-1: oklch(95% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-2: oklch(88% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-3: oklch(80% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-4: oklch(74% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-5: oklch(68% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-6: oklch(63% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-7: oklch(58% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-8: oklch(53% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-9: oklch(49% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-10: oklch(43% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-11: oklch(37% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-12: oklch(31% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-13: oklch(25% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-14: oklch(18% #{$gray-chroma} / none #{$gray-hue} / none);
$hd-gray-15: oklch(10% #{$gray-chroma} / none #{$gray-hue} / none);
