$op-theme: (
  'light': (
    'shadow-color': 220 3% 15%,
    'shadow-strength': 1%
  ),  
  'dark': (
    'shadow-color': 220 40% 2%,
    'shadow-strength': 25%
  )
) !default;

$selector-scope: (
  'where': ':where (html)',
  'root': ':root',
  'host': ':host',
  'null': ''
) !default;

$theme: light !default;
$shadow-c:  220 3% 15% !default;
$shadow-s: 1% !default;

@if $theme == dark {
  $shadow-c:  220 40% 2% !default;
  $shadow-s: 25% !default;
}
